.container {
    background-color: #9EC8B9;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), #9EC8B9);
    padding: 40px;
    
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .header-ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .heading {
    list-style: none;
    font-size: large;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  